<H1>
  This is my Homepage
</H1>

<p>
  hhuhsa saiuiu dsf husdf udhfsd fsd iuhsdiuf hiu
</p>

<ul>
  <li>test 1</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>

<%= link_to 'About', about_path %> | <%= link_to 'Alpha Blog', articles_path %>